<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <link th:href="@{/css/style_success.css}" rel="stylesheet"/>
    <link rel="icon" href="https://webliberty.ru/favicon.ico" type="image/x-icon">
    <title>Информация</title>
    <link rel="canonical" href="https://webliberty.ru/support/demo/contact/">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js}"></script>
    <script th:src="@{https://www.google.com/recaptcha/api.js}"></script>
    <script src="contact.js"></script>
</head>
<body>
<header></header>
<div class="wrapper">
    <article>

        <form action ="#" id="contact" th:action="@{/r_list}"   method="get" >
            <H3 id="titleH3" >Информация</H3>
            <div id="note"></div>
            <div id="fields">
                <p id="message">Ваши данные успешно добавлены!!!</p>
                <p id ="button"><Input type="submit" value="ОК!" id="submit"></p>
            </div>
        </form>
    </article>
</div>
</body>
</html>